<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layaout"
      layout:decorate="~{layout}"> 

    <body layout:fragment="body">
        <div class = "container">
            <br>
            <br>
            <form method="POST" action="/CargaMasiva" enctype="multipart/form-data">
                <input type="file" name="archivo" />
                <input type="submit" value="Procesar" />
            </form>
        </div>
        <div class = "container">
            <table border="1">
                <thead>
                    <tr>
                        <th>Fila</th>
                        <th>Erorres</th>
                    </tr>
                </thead>
                <tbody>
                   
                </tbody>
            </table>

        </div>
    </body>
</html>
