<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layaout"
    layout:decorate="~{layout}"> 
    
    <body layout:fragment="body">

        <div class="container">

            <h1>Lista de alumnos</h1>
            <!--        <ul>
                                EL - Expression language
                        <li th:each="alumno : ${alumnos}" th:text="${alumno.nombre}"></li>
                    </ul>-->

            <div class="row">
                <a th:href="@{/alumno/form/{idalumno}(idalumno=0)}" class="btn btn-success">Agregar</a>
            </div>
            
            </br>
            
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Eliminar</th>
                        <th scope="col">IdAlumno</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido Paterno</th>
                        <th scope="col">Apellido Materno</th>
                        <th scope="col">Fecha de Nacimiento</th>
                        <th scope="col">Actualizar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="alumno : ${alumnos}">
                        <td>
                            <button type="button" class="btn btn-danger">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </td>
                        <td th:text="${alumno.idalumno}"></td>
                        <td th:text="${alumno.nombre}"></td>
                        <td th:text="${alumno.apellidopaterno}"></td>
                        <td th:text="${alumno.apellidomaterno}"></td>
                        <td th:text="${alumno.fechanacimiento}"></td>
                        <td>
                            <a th:href="@{/alumno/form/{idalumno}(idalumno=${alumno.idalumno})}" class="btn btn-warning">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>